<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

    <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


  <header data-th-include="./header.html"></header>

  <div class="main">
    <section class="module-small">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="post">
                <div class="post-images-slider">
                  <ul class="slides">
                    <li><img src="/images/oce/아쿠아라인1.png" alt="Blog Slider Image"/></li>
                    <li><img src="/images/oce/아쿠아라인2.jpg" alt="Blog Slider Image"/></li>
                  </ul>
                </div>
              <div class="post-header font-alt">
                <h1 class="post-title">아쿠아라인</h1>
                <div class="post-meta"><a href="selfPool">Pool</a> | Aqua Line
                </div>
              </div>
              <div class="post-entry">
                <p>가로 21m, 세로 30m 수심 2~5m의 계단식 다목적 풀장</p>
                <blockquote>
                  <p>최대 수심이 5m로 계단식 폴장이 있어 초보자에게 적합합니다.</p>
                </blockquote>
                <p>이론교육을 진행 할 수 있는 강의실을 보유하고 있습니다.</p>
                <div class="dive-site-overview__content-metric">
                  <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/위치.PNG">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                    <span class="dive-site-overview__content-metric__title">주소</span>
                    <span class="dive-site-overview__content-metric__subtitle">경기도 성남시 중원구 제일로 60 KR 아쿠아라인 종합스포츠센터 지하 2층</span>
                  </div>
                  </div>
                  <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/다이빙.png">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <span class="dive-site-overview__content-metric__title">운영하는 트레이닝 코스</span>
                      <span>&bigstar; 클릭시 해당 트레이닝을 자세히 볼 수 있습니다</span><br/>
                      <a href="https://aqualine.modoo.at/?link=a0n4la1x" class="dive-site-overview__content-metric__link" target="_blank" data-navigation-elements="data-navigation-elements" data-region-identifier="useful_training">프리다이빙 교육</a><br/>
                      <a href="https://aqualine.modoo.at/?link=4r7ebuun" class="dive-site-overview__content-metric__link" target="_blank" data-navigation-elements="data-navigation-elements" data-region-identifier="useful_training">스쿠버다이빙 </a>
                    </div>
                  </div>
                  <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/유형.png">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <div class="dive-site-overview__content-metric__title">다이빙 유형</div>
                      <span class="dive-site-overview__content-metric__subtitle">Pool(수영장)</span>
                    </div></div><div class="dive-site-overview__content-metric__item">
                  <div class="dive-site-overview__content-metric__icon">
                    <img src="/img/장비.png">
                  </div>
                  <div class="dive-site-overview__content-metric__description">
                    <div class="dive-site-overview__content-metric__title">장비 렌탈</div>
                    <span class="dive-site-overview__content-metric__subtitle">유료렌탈 가능 </span>
                  </div>
                </div>
                  <div class="dive-site-overview__content-metric__desktop">
                    <div class="dive-site-overview__content-metric__item">
                      <div class="dive-site-overview__content-metric__icon">
                        <img src="/img/입수.png">
                      </div>
                      <div class="dive-site-overview__content-metric__description">
                        <div class="dive-site-overview__content-metric__title">입수 방법</div>
                        <span class="dive-site-overview__content-metric__subtitle">기타</span>
                      </div>
                    </div>
                    <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/물유형.png">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <div class="dive-site-overview__content-metric__title">물의 유형</div>
                      <span class="dive-site-overview__content-metric__subtitle">민물</span>
                    </div></div><div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/수심.png">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <span class="dive-site-overview__content-metric__title">최대 수심</span>
                      <span class="dive-site-overview__content-metric__subtitle">
                                            16 피트 / 5 미터
                      </span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-form">
              <h4 class="comment-form-title font-alt">예약</h4>
              <form class="reservation-form"  action="Reservation" method="post" name="ResrvationTest">
                <input name="BuyKind" type="hidden" value="수영장">
                <input name="BuyObjectName" type="hidden" value="아쿠아라인">
                <input name="memId" type="hidden" th:value="${session.loginId}">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon-calendar"></i></div>
                    <input class="form-control input-lg" id="date" type="date" name="reDate" onclick="dateClick()" onchange="dateChange()" placeholder="dd/mm/yyyy" required/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon-clock"></i></div>
                    <select class="form-control input-lg" id="time" name="reTime" type="text" required>
                      <option value="오전12시">오전 12:00</option>
                      <option value="오전12시30분">오전 12:30</option>
                      <option value="오전1시">오전 1:00</option>
                      <option value="오전1시30분">오전 1:30</option>
                      <option value="오전2시">오전 2:00</option>
                      <option value="오전2시30분">오전 2:30</option>
                      <option value="오전3시">오전 3:00</option>
                      <option value="오전3시30분">오전 3:30</option>
                      <option value="오전4시">오전 4:00</option>
                      <option value="오전4시30분">오전 4:30</option>
                      <option value="오전5시">오전 5:00</option>
                      <option value="오전5시30분">오전 5:30</option>
                      <option value="오전6시">오전 6:00</option>
                      <option value="오전6시30분">오전 6:30</option>
                      <option value="오전7시">오전 7:00</option>
                      <option value="오전7시30분">오전 7:30</option>
                      <option value="오전8시">오전 8:00</option>
                      <option value="오전8시30분">오전 8:30</option>
                      <option value="오전9시">오전 9:00</option>
                      <option value="오후9시30분">오전 9:30</option>
                      <option value="오전10시">오전 10:00</option>
                      <option value="오전10시30분">오전 10:30</option>
                      <option value="오전11시">오전 11:00</option>
                      <option value="오전11시30분">오전 11:30</option>
                      <option value="오후12시">오전 12:00</option>
                      <option value="오후12시30분">오전 12:30</option>
                      <option value="오후1시">오후 1:00</option>
                      <option value="오후1시30분">오후 12:30</option>
                      <option value="오후2시">오후 2:00</option>
                      <option value="오후2시30분">오후 2:30</option>
                      <option value="오후3시">오후 3:00</option>
                      <option value="오후3시30분">오후 3:30</option>
                      <option value="오후4시">오후 4:00</option>
                      <option value="오후4시30분">오후 4:30</option>
                      <option value="오후5시">오후 5:00</option>
                      <option value="오후5시30분">오후 5:30</option>
                      <option value="오후6시">오후 6:00</option>
                      <option value="오후6시30분">오후 6:30</option>
                      <option value="오후7시">오후 7:00</option>
                      <option value="오후7시30분">오후 7:30</option>
                      <option value="오후8시">오후 8:00</option>
                      <option value="오후8시30분">오후 8:30</option>
                      <option value="오후9시">오후 9:00</option>
                      <option value="오후9시30분">오후 9:30</option>
                      <option value="오후9시30분">오후 9:30</option>
                      <option value="오후10시">오후 10:00</option>
                      <option value="오후10시30분">오후 10:30</option>
                      <option value="오후11시">오후 11:00</option>
                      <option value="오후11시30분">오후 11:30</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon-profile-male"></i></div>
                    <input type="radio" name="cos" value="스쿠버다이빙" checked>&nbsp;스쿠버다이빙&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="cos" value="프리다이빙">&nbsp;프리다이빙
                    <input class="form-control input-lg" id="people" type="number" name="rePeople" min="1" max="30" step="1" onchange="onch()" placeholder="총 이용 인원" required/>
                    <input type="hidden" id="money" value="30000">
                    <input type="hidden" id="surcharge" value="5000">
                    <p>금액 : <span id="pay">0</span>원</p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-g btn-round btn-block btn-lg mt-20" th:if="${session.loginId ne null}"><i class="fa fa-paper-plane-o"></i> 예약하기</button>
                  <button class="btn btn-g btn-round btn-block btn-lg mt-20" id="popup_open_btn" type="button" th:if="${session.loginId eq null}"><i class="fa fa-paper-plane-o"></i> 로그인이 필요합니다</button>
                </div>
                <div id="my_modal">
                  <iframe src="Loginmodel" id="chat_iframe"></iframe>
                  <a class="modal_close_btn">X</a>
                </div>
                <div id="reservationFormResponse"></div>
              </form>
            </div>
          </div>
            <div class="con"></div>
            <div class="fly">
          <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
            <div class="widget">
              <h5 class="widget-title font-alt">다이빙 풀 위치</h5>
              <div id="map" style="width:100%;height:500px;"></div>
            </div>
            <div class="widget">
              <h5 class="widget-title font-alt">다른 다이빙 풀</h5>
              <ul class="widget-posts">
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="K_26"><img src="/images/oce/K_26_Dive_pool1.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="K_26">K-26 다이빙풀</a></div>
                    <div class="widget-posts-meta">경기도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="DEEP_STATION"><img src="/images/oce/딥스테이션1.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="DEEP_STATION">딥스테이션</a></div>
                    <div class="widget-posts-meta">경기도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="World_Cup_Skin_Scuba_Diving_Pool"><img src="/images/oce/월드컵스킨스쿠버다이빙풀.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="World_Cup_Skin_Scuba_Diving_Pool">월드컵 스킨스쿠버 다이빙풀</a></div>
                    <div class="widget-posts-meta">경기도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="DiveLife"><img src="/images/oce/다이브라이프1.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="DiveLife">다이브라이프</a></div>
                    <div class="widget-posts-meta">서울</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>

        </div>
  </section>





    <footer data-th-include="./footer.html"></footer>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c5217e41a6eff6f4ab9a3e0a2f34a06e"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
            center: new kakao.maps.LatLng(37.431720730745596, 127.13804726226563), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
          };

  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

  // 마커를 생성합니다
  var positions = [
    {
      title: '아쿠아라인',
      latlng: new kakao.maps.LatLng(37.431720730745596, 127.13804726226563)
  }
  ];

  // 마커 이미지의 이미지 주소입니다
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

  for (var i = 0; i < positions.length; i ++) {

    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35);

    // 마커 이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng, // 마커를 표시할 위치
      title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
      image : markerImage // 마커 이미지
    });
  }
  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);

  // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
  // marker.setMap(null);

</script>

<script>
  setInterval( function(){
    let cos = $('input[name=cos]:checked').val();
    if(cos == "스쿠버다이빙"){
      document.getElementById("money").value = 30000;
      document.getElementById("surcharge").value = 0;
    }else{
      document.getElementById("money").value = 15000;
    }
    }, 500)
</script>
</body>
</html>