
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>For Diver | 해양 위기 현황</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">

    <style>
        .main{
            text-align: center;

        }
        iframe{
            width: 80%;
            height: 1000px;
        }

        .ci{
            margin: 10px;
            width: 30%;
            height: 300px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>

    <header data-th-include="./header.html"></header>

    <section class="module bg-dark-60 service-page-header" data-background="/images/해양위기배너.png">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">해양위기 정보</h2>
                    <div class="module-subtitle font-serif">여기서는 현재 해양 생태계의 위기에 대한 정보를 다루고 있습니다.<br/>
                        해양 위기 현황에 대해 알아가시고 주변 사람들에게 널리 알려주세요!</div>
                </div>
            </div>
        </div>
    </section>

    <div class="main showcase-page">
        <br/>
        <br/>
        <br/>
        <h2>해양위기에 관해 알아보고 함께 실천해봐요!</h2>

        <h4 style="color: blue"><a href="selfCheck"><strong>자신이 해양 위기 현황과 관련하여 어떤 유형의 인물인지 알고 싶다면 여기를 클릭하세요!</strong></a></h4>

        <br/>
        <div>
            <h3><strong>바다는</strong> 지구 표면의 70% 이상을 덮고 있는 수십만 종에 달하는 생물들의 삶의 터전입니다.</h3>
            <br/>
            <h4>또한 수십억 명의 사람들에게 일자리와 식량을 제공해 주며, 대기의 이산화탄소를 흡수하여 지구온난화 방지에도 기여하는 필수적이고도 소중한
                존재입니다.<br/>이렇게 중요한 역할을 하는 바다는 현재 위험에 처해 있습니다.</h4>
            <br/>
            <h4>플라스틱과 같은 오염 물질이 바다로 흘러 들어가 해양을 오염시키고 생태계를 파괴합니다. 남획과 불법어업, 혼획은 많은 해양생물종들을
                멸종위기로 내몰고 있습니다.<br/>이와 동시에 지구온난화는 수온을 상승시켜 이 모든 위협을 증대시키는 요인으로 작용하고 있습니다.
                바다가 겪고 있는 문제들을 해결할 수 있는 열쇠는 우리 손에 있습니다.<br/>해양의 건강을 회복하기 위해 우리는 지금 당장 조치를 취해야 합니다.</h4>
        </div>
        <br/>
        <hr/>

        <!--데이터 분할 탭-->
        <div>
            <div role="tabpanel">
                <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#crisisNow" data-toggle="tab" aria-expanded="true" style="font-size: 30px"><span class="icon-hazardous"></span> 해양위기 현황</a></li>
                    <li class=""><a href="#crisisSolution" data-toggle="tab" aria-expanded="false" style="font-size: 30px"><span class="icon-key"></span> 해결방안</a></li>
                    <li class=""><a href="#crisisHero" data-toggle="tab" aria-expanded="false" style="font-size: 30px"><span class="icon-happy"></span> 실천사례</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="crisisNow">
                        <!--위기 현황 설명과 이미지 3장-->
                        <h1>해양 위기 현황</h1>
                        <h3>현재 해양 생태계의 심각한 현황에 대해 알려드립니다!</h3>
                        <hr/>
                        <div>
                            <h2>1. 해양 오염</h2>
                            <img class="ci" src="/crisisImages/해양오염1.png">
                            <img class="ci" src="/crisisImages/해양오염2.png">
                            <img class="ci" src="/crisisImages/해양오염3.png">
                            <h4>제대로 처리되지 않은 채 유입되는 오/폐수, 관광객들과 배에서 버려지는 플라스틱과 쓰레기들은 해양생물들을 병들게 하고 죽음에 이르게 합니다.</h4>
                            <hr/>
                            <h2>2. 무분별한 어업 & 혼획</h2>
                            <img class="ci" src="/crisisImages/어획1.png">
                            <img class="ci" src="/crisisImages/어획2.png">
                            <img class="ci" src="/crisisImages/어획3.png">
                            <h4>지속가능성을 고려하지 않은 무분별한 어업은 수산자원을 고갈시킵니다.
                                또한 물고기를 잡기 위해 던진 그물은 고래, 상어, 바다거북, 바닷새 등이 목숨을 잃고 멸종위기에 처하게 만드는 원인이 됩니다.</h4>
                            <hr/>
                            <h2>3. 기후위기</h2>
                            <img class="ci" src="/crisisImages/기후위기.png">
                            <h4>바다 온도는 상승하고, 꾸준히 증가하는 이산화탄소는 바다에 흡수되어 해수를 산성화시킵니다.</h4>
                            <hr/>
                            <h2>4. 버려진 낚시 도구</h2>
                            <img class="ci" src="/crisisImages/낚시피해1.png">
                            <img class="ci" src="/crisisImages/낚시피해2.png">
                            <img class="ci" src="/crisisImages/낚시오염.png">
                            <h4>낚시를 마치고 버려지는 납추, 낚싯줄은 바다에 살고 있는 생물들을 상처입힙니다. 또한 각종 쓰레기는 물론 떡밥과 화학 성분의 집어제는
                                수질을 오염시키고<br/>부영양호를 초래해 사스, 광우병, 조류독감 등의 원인이 되기도 합니다.</h4>
                            <hr/>
                            <h2>5. 마스크</h2>
                            <img class="ci" src="/crisisImages/마스크피해1.png">
                            <img class="ci" src="/crisisImages/마스크피해2.png">
                            <img class="ci" src="/crisisImages/마스크피해3.png">
                            <h4>코로나 방역 대책으로 꾸준히 쓰고 다니셨을 마스크. 하지만 끈을 자르지 않은 채 바다로 날아간 마스크는
                                갈매기와 같은 바다새를 다치게 하거나<br/>거북이나 돌고래가 먹이로 오인하여 섭취할 수 있습니다.</h4>
                            <hr/>
                            <h2>6. 유기 자외선 차단제</h2>
                            <img class="ci" src="/crisisImages/유기자차오염.png">
                            <h4>저희가 선크림이라고 부르는 자외선 차단제는 자외선으로부터 피부를 보호해주는 중요한 제품이지만, 유기 자외선
                                차단제의 성분인 옥시벤존과 옥티노세이드는<br/>산호를 딱딱하게 굳히고 백화현상을 일으켜 바다를 오염시키고 있습니다.</h4>
                            <hr/>
                            <h2>7. 담배</h2>
                            <img class="ci" src="/crisisImages/담배피해1.png">
                            <img class="ci" src="/crisisImages/담배피해2.png">
                            <h4>담배 필터의 미세 플라스틱, 버려진 담배 꽁초가 물에 닿았을 때 발생하는 침출수는 생태계에 큰 악영향을 끼치고 있습니다.</h4>
                            <hr/>
                            <h2>8. 플라스틱</h2>
                            <img class="ci" src="/crisisImages/플라스틱오염1.png">
                            <img class="ci" src="/crisisImages/플라스틱오염2.png">
                            <img class="ci" src="/crisisImages/플라스틱오염3.png">
                            <h4>플라스틱은 분해되기까지 500년이 걸립니다. 현재 해양 쓰레기의 80%를 플라스틱이 차지하고 있습니다.<br/>
                                하지만 이미 우리들의 생활속에 깊이 자리잡은 플라스틱은 사용량이 줄어들지 않고 있어 생태계에 악영향을 끼치고 있습니다.</h4>
                            <hr/>
                        </div>
                    </div>
                    <div class="tab-pane" id="crisisSolution">
                        <!--해결방안. 사진 한 장과 설명-->
                        <h1>해양위기 해결방안</h1>
                        <div>
                            <h2>1. 쓰레기 처리</h2>
                            <img class="ci" src="/crisisImages/분리수거2.png">
                            <h4>쓰레기는 반드시 쓰레기 통에 정확한 분리수거 요령으로 처리해주세요!</h4>
                            <hr/>
                            <h2>2. 플라스틱 사용 줄이기</h2>
                            <img class="ci" src="/crisisImages/플라스틱줄이기1.png">
                            <img class="ci" src="/crisisImages/플라스틱줄이기2.png">
                            <h4>일상생활에 깊이 자리잡아 우리에게 편의를 제공해주고 있는 플라스틱은 해양 오염의 주범입니다.<br/>플라스틱 제품의 사용을 줄이고
                                플라스틱 용기 사용률의 대부분을 차지하고 있는 배달, 테이크 아웃도 줄여주세요!</h4>
                            <hr/>
                            <h2>3. 마스크 처리</h2>
                            <img class="ci" src="/crisisImages/마스크자르기.png">
                            <h4>마스크는 버리기 전에 꼭 끈을 잘라서 제거해주세요!</h4>
                            <hr/>
                            <h2>4. 낚시를 할 때</h2>
                            <img class="ci" src="/selfCheckImages/낚시.png">
                            <h4>낚시 후에는 사용한 낚시도구를 꼭 수거해주세요!<br/>또한 납추나 화학성 집어제 등
                                해양 생물들에게 위해가 되는 낚시도구는 사용하지 말아 주세요!</h4>
                            <hr/>
                            <h2>5. 무기 자외선 차단제 사용</h2>
                            <img class="ci" src="/crisisImages/자차비교.png">
                            <h4>바다에 들어갈 때 사용하는 자외선 차단제는 꼭 해양 생물들에게 무해한 성분으로 이루어진 무기 자외선 차단제를 사용해주세요!</h4>
                            <hr/>
                            <h2>6. 지속가능한 어업에 동참하기</h2>
                            <img class="ci" src="/selfCheckImages/MSC.png">
                            <img class="ci" src="/selfCheckImages/ASC.png">
                            <h4>무분별한 어획과 혼획을 멈춰야 합니다! 또한, MSC, ASC 인증 수산물을 이용해주세요!<br/>MSC(세계해양책임관리회, Marine Stewardship Council)와 ASC(세계양식책임관리회,Aquaculture Stewardship Council)로
                                대표되는 지속가능한 수산물 유통 확대를 선언하고 지속가능한 어업 및 양식업에 대한 지원 활동과 수산물 소비를 위한 캠페인 활동 등 기업의 안정적인 공급망 확보와 친환경
                                기업으로의 전환에 동참할 수 있습니다.</h4>
                            <hr/>
                            <h2>7.담배 꽁초 처리</h2>
                            <img class="ci" src="/crisisImages/휴대용재떨이.png">
                            <h4>길바닥에 버려진 담배 꽁초가 바람에 날려 물에 닿으면 필터에 있는 미세 플라스틱과 함께 생태계에 좋지 않은 악영향을 끼치게 됩니다.<br/>
                                담배 꽁초는 꼭 쓰레기통에 처리해주시고 항상 휴대용 재떨이를 소지해주세요!</h4>
                            <hr/>

                        </div>
                    </div>
                    <div class="tab-pane" id="crisisHero">
                        <!--실천사례. 개인보다는 더 큰 범위의 사례-->
                        <h1>해양위기 실천사례</h1>
                        <div>
                            <h2>1. 업사이클링</h2>
                            <img class="ci" src="/crisisImages/업사이클링.png">
                            <img class="ci" src="/crisisImages/업사이클링2.png">
                            <img class="ci" src="/crisisImages/업사이클링3.png">
                            <h4>업사이클링이란 단순한 재활용을 의미하는 리사이클(Recycle)에서 한 발짝 더 나아가 재가공을 통해 새로운 가치를 지닌 상품으로 만드는 것을 의미합니다.
                                <br/>다양한 업사이클 제품을 참고하여 직접 만들어 사용해보시거나 업사이클 제품들을 구매하는 것으로 업사이클에 힘을 실어주세요!
                                <br/><a href="https://blog.naver.com/mosfnet/222763405923"><strong>업사이클링에 대해 더 알아보고 싶다면?</strong></a></h4>

                            <!--클릭 시 모달 팝업 갤러리로 볼 수 있음-->
                            <div class="container">
                                <h2>갤러리</h2>
                                <h4>※사진을 클릭하면 큰 슬라이드로 볼 수 있습니다.※</h4>
                                <br/>
                                <br/>
                                <div class="row multi-columns-row">
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/업사이클링4.png"><img src="/crisisImages/gallery/thumbnail/업사이클링4.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/업사이클링5.png"><img src="/crisisImages/gallery/thumbnail/업사이클링5.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/업사이클링6.png"><img src="/crisisImages/gallery/thumbnail/업사이클링6.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/업사이클링7.png"><img src="/crisisImages/gallery/thumbnail/업사이클링7.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/박종숙선생님.png"><img src="/crisisImages/gallery/thumbnail/박종숙선생님.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/한장흠대표님.png"><img src="/crisisImages/gallery/thumbnail/한장흠대표님.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->
                                    <!--사진 하나-->
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="gallery-item">
                                            <div class="gallery-image">
                                                <a class="gallery" href="/crisisImages/gallery/big/현은숙선생님.png"><img src="/crisisImages/gallery/thumbnail/현은숙선생님.png"/>
                                                    <div class="gallery-caption">
                                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--사진 하나 끝-->

                                </div>
                            </div>

                            <h4>관련 영상 : [카운트다운]업사이클링, 버려지는 것에서 새로운 가치를 찾다.</h4>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/wsvRHO7ZXy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br/>
                            <hr/>
                            <h2>2. 오션 클린업</h2>
                            <img class="ci" src="/crisisImages/gallery/big/보얀슬렛.png"/>
                            <img class="ci" src="/crisisImages/gallery/big/오션클린업.png"/>
                            <img class="ci" src="/crisisImages/gallery/big/인터셉터.png"/>
                            <h4>오션 클린업은 젊은 CEO 보얀 슬렛이 이끄는 해양 오염 해결을 목적으로 하는 기업입니다.
                                <br/>해양 쓰레기를 대량으로 수거하는 무인 선박 '인터셉터'와<br/>
                                해양 쓰레기가 모이는 지점을 찾아 효과적으로 수거하는 '시스템002'로 적극적이고 효율적으로 해양 위기 해결에 앞장 서고 있습니다.
                                <br/><a href="http://planet-times.com/View.aspx?No=2608385">오션 클린업에 대해 더 알고 싶다면?</a> </h4>
                            <h4>관련 영상 : 오션 클린업</h4>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/31gFN3vP_0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br/>
                            <hr/>
                            <h2>3. 씨낵</h2>
                            <img class="ci" src="/crisisImages/gallery/big/씨낵.png"/>
                            <img class="ci" src="/crisisImages/gallery/big/씨낵2.png"/>
                            <img class="ci" src="/crisisImages/gallery/big/씨낵3.png"/>
                            <h4>씨낵은 바다(Sea)와 과자(Snack)의 합성어로 해변에서 쓰레기를 주워 가져오면 과자로 교환해주는 캠페인입니다.<br/>
                                씨낵은 제일기획과 관광공사, 그리고 롯데백화점과 휴가철 해변 쓰레기 증가를 우려하여 해당 캠페인을 진행하였으며 현장 뿐만 아니라 SNS로도 참여할 수 있게 하여 참여도를 높였습니다.
                                <br/>씨낵 캠페인을 통해 단순히 쓰레기를 줍는 것이 아니라 조깅하며 쓰레기를 줍는 플로깅을 지향하는 이색적인 캠페인이었습니다.
                                <br/><a href="https://news.mt.co.kr/mtview.php?no=2022071808522556538/">씨낵 캠페인에 대해 알아보고 싶다면 여기를 클릭</a></h4>
                            <h4>관련 영상 : 쓰레기가 돈이 되는 과자 상점, 씨낵</h4>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/IFewq4bE5u4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br/>
                            <br/>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<!--main 밖에 두니 해결됨-->
<footer data-th-include="./footer.html"></footer>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>

</html>