<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
  <style>
    .module, .module-small{
      padding-bottom: 0px;
      padding-top: 100px;
    }

    .dcImg {
      width: 250px;
      height: 130px;
    }

  </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


  <header data-th-include="./header.html"></header>

  <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="/images/스쿠버다이빙.jpg">
    <div class="testimonials-slider pt-140 pb-140">
      <ul class="slides">
        <li>
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">다이버 모임</blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-descr">diver meeting</div>
                  </div>
                </div>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </section>
  <br/><br/>
  <div class="main">
    <section class="module">
      <div class="container">
        <div class="row multi-columns-row post-columns">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://m.blog.naver.com/PostList.nhn?blogId=cmj6217"><img class="dcImg" src="/images/모임3.png" alt="기영"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://m.blog.naver.com/PostList.nhn?blogId=cmj6217">최기영 스킨스쿠버</a></h2>
              </div>
              <div class="post-entry">
                <p>30년 경력의 전문 스쿠버강사가 운영하는 스쿠바 펜션! 30년 경력 무사고 최기영 사장님의 자부심이 가득가득 있는 최기영스쿠바입니다.</p>
              </div>
              <div class="post-more"><a class="more-link" href="https://m.blog.naver.com/PostList.nhn?blogId=cmj6217">최기영스쿠바 이동</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://blog.naver.com/lscubaclub"><img class="dcImg" src="/images/모임2.png" alt="Blog-post Thumbnail"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://blog.naver.com/lscubaclub">엘스쿠버클럽 / LSCUBA CLUB</a></h2>
              </div>
              <div class="post-entry">
                <p>L scuba Club은 누구나 편안하게 오실 수 있고, 누구나 즐겁게 다이빙을 함께하는 것이 팀의 방향입니다. 어떻게 하면 남녀 편중되지 않고 다양한 사람들이 잘 어우러지면서 스쿠버다이빙을 함께 할 수 있을까? 에 대한 생각에 대해서 많은 고민을 합니다. </p>
              </div>
              <div class="post-more"><a class="more-link" href="https://blog.naver.com/lscubaclub">LSCUBA CLUB이동</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://scubameet.tistory.com/108"><img class="dcImg" src="/images/모임1.png" alt="Blog-post Thumbnail"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://scubameet.tistory.com/108">JM다이브 스쿠버 동호회 </a></h2>
              </div>
              <div class="post-entry">
                <p>세계적으로 공인된 SDI/TDI/PADI단체소속이며 가장 퀄리티 있고 안전한 교육을 보장합니다.</p>
              </div>
              <div class="post-more"><a class="more-link" href="https://scubameet.tistory.com/108">JM다이브로 이동</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module" id="news">
      <div class="container">
        <div class="row multi-columns-row post-columns">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://blog.naver.com/marine898"><img class="dcImg" src="/images/모임5.png" alt="Blog-post Thumbnail"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://blog.naver.com/marine898">HISDI 울산 스쿠버 동호회</a></h2>
              </div>
              <div class="post-entry">
                <p>SDI 강문오 트레이너님이 이끄는 울산 스쿠버 다이빙 동호회 수중 전문 촬영을 바탕으로 기초 교육 부터 강사 교육 그리고 테크니컬 다이빙 교육 가능 매달 국내, 해외 투어와 장비 구입 까지 원하는 모든 것을 얻을수 있도록 도와주시는 HISDI 울산 스쿠버</p>
              </div>
              <div class="post-more"><a class="more-link" href="https://blog.naver.com/marine898">HISDI 이동</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://www.nemoviva.com/"><img class="dcImg" src="/images/모임6.png" alt="Blog-post Thumbnail"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://www.nemoviva.com/">니모만세</a></h2>
              </div>
              <div class="post-entry">
                <p>다이빙 입문인 오픈워터 코스 부터 전문적인 프로로 활동 하고자 하는 강사 과정까지 모든 스쿠버 다이빙 관련 교육을 진행 할 수 있는 스쿠버 다이빙 전문 교육 센타입니다. </p>
              </div>
              <div class="post-more"><a class="more-link" href="https://www.nemoviva.com/">니모만세 이동</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-20">
              <div class="post-thumbnail"><a href="https://www.nomadive.com/"><img class="dcImg" src="/images/모임7.png" alt="Blog-post Thumbnail"/></a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="https://www.nomadive.com/">노마다이브</a></h2>
              </div>
              <div class="post-entry">
                <p>제목다이빙 교육과 장비 컨설팅 그리고 전세계 호화스러운 리조트와 리브어보드 크루즈, 수중촬영 및 해외 로케이션 컨설팅이 특기인 노마다이브 크루 스쿠버 뿐만 아니라 프리다이빙도 활발히 활동 중입니다.</p>
              </div>
              <div class="post-more"><a class="more-link" href="https://www.nomadive.com/">노마다이브 이동</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br/><br/><br/><br/><br/>
    <footer data-th-include="./footer.html"></footer>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>