<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>For Diver | 환경단체 목록</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <style>
        .works-grid{
            padding-left: 20%;
            padding-right: 20%;
        }
        .works-grid-3 .work-item {
            width: 20%;
        }
        .img1{
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 30px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


    <header data-th-include="./header.html"></header>
    <section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
            <ul class="slides">
                <li class="bg-dark-30 bg-dark" style="background-image:url(/images/해양1.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-1">모두와 함께 만드는 사람과 자연이 조화로운 미래</div>
                            <div class="font-alt mb-40 titan-title-size-4">지구를 지켜주세요</div>
                            <a class="section-scroll btn btn-border-w btn-round" href="#about">더 알아보기</a>
                        </div>
                    </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(/images/해양2.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-2">모두와 함께 만드는 사람과 자연이 조화로운 미래</div>
                            <div class="font-alt mb-40 titan-title-size-4">지구를 지켜주세요</div>
                            <a class="btn btn-border-w btn-round" href="#about">더 알아보기</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
        <section class="module" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="module-subtitle font-serif large-text">환경단체 목록</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module pb-0" id="works">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">환경단체</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="filter font-alt" id="filters">
                            <li><a class="current wow fadeInUp" href="#" data-filter="*">전체 환경단체</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">해외 환경단체</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">국내 환경단체</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                    <li class="work-item illustration webdesign"><a href="https://www.wwfkorea.or.kr/support_plastic_free.php">
                        <div class="work-image"><img src="/images/wwf.jpg" alt="wwf" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">세계 자연기금(WWF)</h3>
                            <div class="work-descr">세계 최대 비영리 자연보전기관 WWF(세계자연기금, WORLD WIDE FUND FOR NATURE)는 1961년에 설립되었으며, 국제본부는 스위스 글랑에 위치해 있습니다.</div>
                        </div></a></li>
                    <li class="work-item marketing photography"><a href="https://www.mof.go.kr/article/view.do?articleKey=4083&searchSelect=title&boardKey=16&currentPageNo=9">
                        <div class="work-image"><img src="/images/해양수산부.png" alt="GREEN" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">해양수산부</h3>
                            <div class="work-descr">1. 국제물류산업 글로벌 경쟁력 강화<br/>2. 수출형 블루푸드산업 육성 <br/>3. 해양모빌리티산업 주도권 확보을 위하는 국가기관</div>
                        </div></a></li>
                    <li class="work-item illustration photography"><a href="https://oceana.org/">
                        <div class="work-image"><img src="/images/OCEANA.png" alt="OCEANA" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">OCEANA 해양캠페인</h3>
                            <div class="work-descr">Oceana는 세계적인 규모로 세계 해양을 보호하고 복원하는 데 전념하고 있습니다.</div>
                        </div></a></li>
                    <li class="work-item marketing photography"><a href="https://earthplogging.com/29/">
                        <div class="work-image"><img src="/images/지구쓰담.png" alt="지구쓰담" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">지구 쓰담 환경제단!</h3>
                            <div class="work-descr">지구쓰담 캠페인은 심각한 플라스틱 쓰레기 문제를 알리고 국내 환경 단체와 함꼐 환경 회복을 위한 정화 활동을 진행합니다.</div>
                        </div></a></li>
                    <li class="work-item illustration webdesign"><a href="https://www.greenpeace.org/korea/project-ocean/">
                        <div class="work-image"><img src="/images/GREENPEACE.jpg" alt="GREEN" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">GREEN PEACE기금</h3>
                            <div class="work-descr">바다를 지속가능한 공간으로 보호하기 위해 한국을 포함한 UN회원국에 해양조약 제정을 요구해, 국제적 구속력을 갖는 ‘해양보호구역’을 지정하고자 합니다.</div>
                        </div></a></li>
                    <li class="work-item marketing webdesign"><a href="http://kfem.or.kr/?gclid=EAIaIQobChMIiovs_7rL_AIVclcPAh0qKwLSEAMYAiAAEgIuV_D_BwE">
                        <div class="work-image"><img src="/images/환경운동연합.png" alt="환경운동연합" class="img1"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">환경 운동연합!</h3>
                            <div class="work-descr">환경운동연합은생명·평화·생태·참여를 중심가치로,감시와 견제의 역할에서 한 걸음 나아가 아름답고 건강한 미래를 위해 중장기적인 비전과 대안을 수립하고 실현하기 위한 활동을 전개하고 있습니다.</div>

                            <button onclick="location.href=''"></button>
                        </div></a></li>
                </ul>

        </section>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


        <footer data-th-include="./footer.html"></footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<script>

</script>
</body>
</html>