<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>For Diver | 회원수정</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">

  <!--font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

  <!--icon-->
  <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
  <style>

    .module.mformain{
      min-height: 500px;
      padding-top:49px;
    }
    #mySidebar{
      height:100%;
    }
    .material-symbols-outlinedab {
      font-variation-settings:
              'FILL' 0,
              'wght' 600,
              'GRAD' 0,
              'opsz' 150
    }
    @font-face {
      font-family: 'Material Symbols Outlinedab';
      font-style: normal;
      font-weight: 100 700;
      src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v83/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
    }

    .material-symbols-outlinedab {
      font-family: 'Material Symbols Outlined';
      font-weight: normal;
      font-style: normal;
      font-size: 48px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
    .marginfor{
      margin:auto;
    }
    .marginfor .upload-name {
      display: inline-block;
      height: 40px;
      padding: 0px;
      vertical-align: middle;
      border: 1px solid #dddddd;
      width: 60%;
      color: #999999;
    }
    .marginfor label {
      display: inline-block;
      padding: 6px 5px 0px 5px;
      color: #fff;
      vertical-align: middle;
      background-color: #999999;
      cursor: pointer;
      height: 36px;
      margin:0px 0px 0px 10px;
    }
    .marginfor input[type="file"] {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
  </style>
  <!--보안 1 : 비회원과 회원구분-->
  <script th:if="${session.loginId eq null}">
    alert('로그인 후에 이용해주세요!');
    location.href = "mLogin";
  </script>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
  <header data-th-include="./header.html"></header>

  <div class="main">
    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
      <header data-th-include="./mypagesidebar.html"></header>
    </div>
    <section class="module" id="alt-features">
      <div id="main">
        <div class="container">
          <form action="mModify" method="post" name="mModifyform" enctype="multipart/form-data">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">person</span></div>
                <h3 class="alt-features-title font-alt">아이디</h3><p>[[${member.memId}]]</p>
                <input type="hidden" name="memId" th:value="${member.memId}"/>
              </div>
              <br/>
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">badge</span></div>
                <h3 class="alt-features-title font-alt">이름</h3><input type="text" name="memName" th:value="${member.memName}"/>
              </div>
              <br/>
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">cake</span></div>
                <h3 class="alt-features-title font-alt">생일</h3>
                <input type="date" name="memBirth" th:value="${member.memBirth}" data-placeholder="날짜 선택"/>
                <input type="hidden" name="memBirth2" th:value="${member.memBirth}"/>
              </div>
              <br/>
              <div class="alt-features-item">
                <div class="alt-features-icon">
                  <span th:if="${member.memGender eq '남'}" class="material-symbols-outlinedab">man</span>
                  <span th:if="${member.memGender eq '여'}"class="material-symbols-outlinedab">woman</span>
                </div>
                <h3 class="alt-features-title font-alt">성별</h3>
                <span th:if="${member.memGender eq'남'}">
                <span>남성</span><input type="radio" name="memGender" value="남" checked />
                <span>여성</span><input type="radio" name="memGender" value="여" />
              </span>
                <span th:if="${member.memGender eq'여'}">
                <span>남성</span><input type="radio" name="memGender" value="남"  />
                <span>여성</span><input type="radio" name="memGender" value="여" checked/>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
              <div class="alt-services-image align-center"><img id="upload_namefor" th:src="'/profile/'+${member.memPROFILENAME}" alt="Feature Image"></div>
              <div class="marginfor">
                <input class="upload-name" value="프로필 사진" placeholder="프로필 사진">
                <label for="file">파일찾기</label>
                <input type="file" id="file" name="memProfile" onchange="readurlfile(this);">
              </div>
              <input type="hidden" name="memPROFILENAME" th:value="${member.memPROFILENAME}"/>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">mail</span></div>
                <h3 class="alt-features-title font-alt">이메일</h3><p>[[${member.memEmail}]]</p>
              </div>
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">phone_iphone</span></div>
                <h3 class="alt-features-title font-alt">연락처</h3><input type="text" name="memPhone" th:value="${member.memPhone}"/>
              </div>
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">home</span></div>
                <h3 class="alt-features-title font-alt">주소</h3><p>[[${member.memAddr}]]</p>
                <input type="text" id="sample6_postcode"      placeholder="우편번호" name="memAddr1">
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" ><br>
                <input type="text" id="sample6_address"       placeholder="주소" name="memAddr2"><br>
                <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="memAddr3">
                <input type="hidden" name="memAddrcopy" th:value="${member.memAddr}"/>
              </div>
              <div class="alt-features-item">
                <div class="alt-features-icon"><span class="material-symbols-outlinedab">calendar_month</span></div>
                <h3 class="alt-features-title font-alt">가입일</h3><p>[[${member.memJoinDate}]]</p>
              </div>
            </div>
          </div></form>
        </div>
      </div>
    </section>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">수정하시겠습니까?</h3>
              <p>아이디, 이메일, 가입일은 수정할 수 없습니다.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="javascript:void(0)" onclick="mModifyFun()">Modify portfolio</a></div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <footer class="footer"  data-th-include="./footer.html"></footer>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>

  function mModifyFun(){
    mModifyform.submit();
  }
//이미지 업로드
  function readurlfile(input){
    //글자 바꿈
    var fileValue = $("#file").val().split("\\");
    var fileName = fileValue[fileValue.length-1];
    $(".upload-name").val(fileName);

    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('upload_namefor').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    } else {
      document.getElementById('upload_namefor').src = "";
    }
  }
  function mViewFun(){
    console.log('a');
    mviewform2.submit();
  }
  function mModifyPwCheckFun(){
    mModifyPwCheckform.submit();
  }
  function myQuestListFun(){
    myQuestListform.submit();
  }
  function mPwModifyEmailFun(){
    mPwModifyEmailform.submit();
  }
  function mOutInfoFun(){
    mOutInfoform.submit();
  }
  function adminfor(){
    console.log('a');
    adminforform.submit();
  }


</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }
        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>