<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
  <style>
    .form-control.first{
      float:left;
      width:62%;
    }
    .btn.btn-round.btn-b.second{
      font-size: 8px;
      padding-left:1px;
      padding-right:1px;
      text-align: center;
      float:left;
      width:35%;
    }
    .form-control.first2{
      margin-top:8px;
      float:left;
      width:82%;
    }
    .btn.btn-round.btn-b.second2{
      margin-top:8px;
      font-size: 8px;
      padding-left:1px;
      padding-right:1px;
      text-align: center;
      float:left;
      background-color: #003f54;
      width:15%;
    }
    .btn.btn-round.btn-b.second2:hover{
      background-color: #007ba4;
    }


    .form-group{
      clear: both;
    }
    .module.pwfind{
      min-height: 600px;
    }
    .boxfortext{
      margin-top:60px;
      padding-right: 17px;
    }
    .cssfortextarea{
      width: 100%;
      height: 150px;
      resize: none;
    }
  </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


  <header data-th-include="./header.html"></header>
  <div class="main">

    <section class="module pwfind">
      <div class="container" style="text-align: center; width: 30vw;">
        <div class="row" style="text-align: center; display: contents;">
          <div class="col-sm-5 col-sm-offset-1 mb-sm-40" style="text-align: center; display: contents;">
            <h4 class="font-alt">이메일 인증</h4>
            <hr class="divider-w mb-10" id="ifuseemailbutton">

            <div class="form-group">
              <input style="text-transform: initial;" class="form-control first" id="memId" type="text" name="memId" placeholder="아이디 입력"/>
              <input  style="text-transform: initial;" class="btn btn-round btn-b second" id="Idbutton" onclick="mFindEmail()" type="button" value="이메일로 인증하기">
            </div>
            <div class="form-group">
              <input style="text-transform: initial;" class="form-control" id="memEmail" type="hidden" name="memEmail" value="이메일" readonly/>
              <span id="confEmail"></span>
            </div>
            <span>이메일 인증은 30초마다 가능합니다.</span>
          </div>
        </div>
      </div>
    </section>
    <footer data-th-include="./footer.html"></footer>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  let boolpw = false;
  function mFindEmail(){
    if(getCookie("restore")=="438afew4"){
      alert('연속으로 아이디를 찾을 수 없습니다.');
      // $("#confEmail").html('');
    }else{
      let memId = $("#memId").val();
      $.ajax({
        type : "POST",
        url : "mFindEmailrestore",
        data : {"memId" : memId,
        },
        dataType : "text",
        success : function(uuid){
          console.log(uuid);
          if(uuid =='일반회원'){
            $("#confEmail").html("<div class=\"alert alert-warning\" role=\"alert\"><strong>알림</strong><span>&nbsp&nbsp일반 회원입니다.</span></div>");
          }else if(uuid =='블랙리스트'){
            $("#confEmail").html("<div class=\"alert alert-danger\" role=\"alert\"><strong>경고!</strong><span>&nbsp&nbsp정지된 회원입니다.</span></div>");
          }else{
            $("#confEmail").html("<input style=\"text-transform: initial;\" class=\"form-control first2\"type='text' id='uuidCheck' placeholder='이메일로 전송받은 인증번호를 입력하세요'/>"
                    +" <input type='hidden' value='"+uuid+"' id='uuid'/>"
                    +" <input style=\"text-transform: initial;\" class=\"btn btn-round btn-b second2\" type='button' value='인증' onclick='checkEmail2()'/>"
                    +"<div class='boxfortext'><form action=\"mRestoresend\" method=\"POST\" name=\"resID\">"
                    +" <input type='hidden' value='"+memId+"' id='memId2' name='memId'/>"
                    // +" <input type='text' id='RESREASON' name='RESREASON' placeholder='복구 사유를 작성해주세요'/>"
                    +"<textarea id='RESREASON' name='RESREASON' class='cssfortextarea'>복구 사유를 작성해주세요</textarea>"
                    +"</form></div>"
            );
          }
        },
        error : function(){
          alert("아이디를 찾을 수 없습니다.");
        }
      });
    }
  }
  function checkEmail2(){
    let uuidCheck = $("#uuidCheck").val();
    if($("#uuid").val()==uuidCheck){
      resID.submit();
    }
  }
  function getCookie(name) {
    let nameOfCookie = name + "=";
    let x = 0;
    while (x <= document.cookie.length) {
      let y = (x + nameOfCookie.length);
      if (document.cookie.substring(x, y) == nameOfCookie) {
        if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
        endOfCookie = document.cookie.length;
        return unescape(document.cookie.substring(y, endOfCookie));
      }
      x = document.cookie.indexOf(" ", x) + 1;
      if (x == 0)
      break;
    }
    return "";
  }

</script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>