<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>

  <header data-th-include="./header.html"></header>



  <div class="main">
    <section class="module bg-dark-60 service-page-header" data-background="/images/스쿠버다이빙.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">스쿠버 다이빙이란</h2>
            <div class="module-subtitle font-serif">스쿠버 다이빙은 수중 호흡기를 지닌채 부력 조절 조끼를 입고 잠수하는 수중 다이빙이다.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="module" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt"></h2>
            <div class="module-subtitle font-serif"></div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lightbulb"></span></div>
              <h3 class="features-title font-alt">개요</h3>
              <p>스쿠버는 대기 중의 공기를 직접 공급받지 않고 물속에서 자력으로 호흡을 할 수 있는 기구를 뜻한다. 현대에 와서는 공기통과 수중 호흡기, 부력 조절기, 공기 압력 게이지, 수심계, 나침반, 비상호흡기 등을 기본 장비로 사용하는 형태를 스쿠버다이빙이라 하고 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class=" icon-clipboard"></span></div>
              <h3 class="features-title font-alt">특성</h3>
              <p>스쿠버다이빙은 일정한 교육만 잘 이수하면 남녀노소 누구나 즐길 수 있으며, 다른 수상레저에 비해 비교적 쉽게 배울 수 있다. 물에 대한 공포심 또한 떨쳐버릴 수 있고 다 속 잠수를 통해 흥미롭고 신기한 바다 속 여행을 즐길 수 있으며 자연의 신비와 대화하는 체험을 통해 삶을 풍요롭게 해줄 수 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-heart"></span></div>
              <h3 class="features-title font-alt">건강</h3>
              <p>심폐기능과 지구력이 강화된다. 무중력 상태에서의 활동으로 평형감각과 유연성이 발달하고 전신운동이므로 균형 잡힌 몸매를 이루게 된다. 물 속의 깊이에 비례하여 우리 몸은 머리부터 발끝까지 수압을 받게 되므로 최고의 지압효과도 얻을 수 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-document"></span></div>
              <h3 class="features-title font-alt">역사</h3>
              <p>기원전 900년 경 아시리아 제국 군대가 군사적인 목적으로 동물의 방광 및 양가죽으로 만든 공기주머니를 이용하여 물속에서 몇 차례 급한 숨을 모면할 수 있는 방법을 고안해 냈다는 기록이 있다. 1943년 프랑스의 해군장교가 프랑스의 마네 강에서 스쿠버 장비를 이용한 수중탐사를 하였는데, 이것을 스쿠버다이빙의 기원으로 꼽고 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-documents"></span></div>
              <h3 class="features-title font-alt">한국의 역사</h3>
              <p>1953년 우리나라에 주둔하고 있던 미 해군의 도움으로 한국 해군에 UDT와 해난구조대가 창설되면서부터 처음으로 우리나라에 스쿠버 다이빙 장비와 기술이 소개되었다. 1960년대까지만 하더라도 이는 스포츠의 성격이 아닌 군사적인 목적으로 해군과 일부 사람들에게만 전파되었다.1970년대부터는 스쿠버 장비들이 급속도로 현대화되고 보다 안전하게 개량되었으며, 후반에 동호인 수도 급속히 늘어나 이제는 전 세계적으로 널리 보편화 된 레저스포츠로서 그 자리를 굳히게 되었다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-genius"></span></div>
              <h3 class="features-title font-alt">용구</h3>
              <p>레귤레이터는 호흡기를 말하며 수중에서 공기탱크에 들어있는 공기를 입까지 보내주는 장비이다. 레귤레이터는 탱크와 결합시키는 1단계 감압부와 자신의 입에 무는 2단계 감압부로 되어 있는데 이 두 개를 합쳐서 레귤레이터 시스템이라 부른다.스쿠버 탱크는 수중에서 호흡하는 공기를 저장한 것이다. 이 압축된 공기는 고압가스 취급법에 의해 공인된 공기 충전소에서 충전시킨다. 또 법에 의해 매 4년마다 용기 내압 검사를 받아야 한다. 그리고 일 년에 한번은 내부, 외부의 흠이나 녹슨 상태를 점검해 주어야 한다.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">바닷속의 힐링을 느끼면서</h3>
              <p>다양한 스쿠버 다이빙을 체험하고싶다면?</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="selfOcean">바다속으로 힐링하러가기</a></div>
          </div>
        </div>
      </div>
    </section>

    <footer data-th-include="./footer.html"></footer>

  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>