<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>For Diver | 다이빙풀 예약페이지</title>
  <style>
    .click{text-align: center}
    .click{position: relative; width: auto; height: auto; margin: 50px auto;}
    .click span{position: absolute; background: deepskyblue; transition: all 0.5s;}
    .click span:nth-child(1) {left: 0; top: 0; width: 0; height: 2px;}
    .click span:nth-child(2) {right: 0; top: 0; width: 2px; height: 0;}
    .click span:nth-child(3) {right: 0; bottom: 0; width: 0; height: 2px;}
    .click span:nth-child(4) {left: 0; bottom: 0; width: 2px; height: 0;}
    .click span:nth-child(1) {left: 0; top: 0; width: 0; height: 2px;}
    .click span:nth-child(2) {right: 0; top: 0; width: 2px; height: 0;}
    .click span:nth-child(1) {left: 0; top: 0; width: 0; height: 2px;}
    .click span:nth-child(2) {right: 0; top: 0; width: 2px; height: 0;}
    .click span:nth-child(3) {right: 0; bottom: 0; width: 0; height: 2px;}
    .click span:nth-child(4) {left: 0; bottom: 0; width: 2px; height: 0;}
    .click:hover span:nth-child(1) {width: 100%;}
    .click:hover span:nth-child(2) {height: 100%;}
    .click:hover span:nth-child(3) {width: 100%;}
    .click:hover span:nth-child(4) {height: 100%;}
    hr{
      width: 95%;
    }

    div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
    a {text-decoration:none;}
    .quickmenu {position:absolute;width:90px;top:10%;margin-top:-50px;right:10px;background:#fff;}
    .quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
    .quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
    .quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
    .quickmenu ul li a:hover {color:#000;}
    .quickmenu ul li:last-child {border-bottom:0;}

  </style>

  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


  <header data-th-include="./header.html"></header>





  <div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background="/images/oce/서울.jpeg">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <div class="alt-module-subtitle"><span class="holder-w"></span>
              <h5 class="font-serif">Pool</h5><span class="holder-w"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title font-alt mb-0">서울</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row multi-columns-row">
          <div class="col-sm-6">
            <a href="Olympic_Swimming_Pool">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">올림픽 수영장 다이빙풀</h4>
                    <hr/>
                    <img src="/images/oce/올림픽수영장1.jpeg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩15,000</h4>
                </div>
              </div>
            </a>

            <br/><br/>

            <a href="DiveLife">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">다이브라이프</h4>
                    <hr/>
                    <img src="/images/oce/다이브라이프1.jpg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩100,000~</h4>
                </div>
              </div>
            </a>
          </div>


          <div class="col-sm-6">

            <a href="Jamsil_Skin_Scuba_Diving">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">잠실 스킨스쿠버 다이빙</h4>
                    <hr/>
                    <img src="/images/oce/잠실1.jpg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩350,000~</h4>
                </div>
              </div>
            </a>

            <br/><br/>


          </div>
        </div>
      </div>
    </section>

    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background="/images/oce/다이빙풀.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <div class="alt-module-subtitle"><span class="holder-w"></span>
              <h5 class="font-serif">Pool</h5><span class="holder-w"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title font-alt mb-0">경기도</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row multi-columns-row">
          <div class="col-sm-6">
            <a href="K_26">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">K-26 다이빙풀</h4>
                    <hr/>
                    <img src="/images/oce/K_26_Dive_pool1.jpg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩33,000~</h4>
                </div>
              </div>
            </a>

            <br/><br/>

            <a href="Aqua_Line">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">아쿠아라인</h4>
                    <hr/>
                    <img src="/images/oce/아쿠아라인1.png" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩15,000~</h4>
                </div>
              </div>
            </a>
          </div>


          <div class="col-sm-6">

            <a href="DEEP_STATION">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">딥스테이션</h4>
                    <hr/>
                    <img src="/images/oce/딥스테이션1.jpg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩44,000~</h4>
                </div>
              </div>
            </a>

            <br/><br/>

            <a href="World_Cup_Skin_Scuba_Diving_Pool">
              <div class="menu click">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <hr/>
                <div class="row">
                  <div class="">
                    <h4 class="menu-title font-alt" style="font-size: 20px">월드컵 스킨스쿠버 다이빙풀</h4>
                    <hr/>
                    <img src="/images/oce/월드컵스킨스쿠버다이빙풀.jpg" style="height: 300px">
                    <hr/>
                    <div class="menu-detail font-serif">Pool</div>
                  </div>
                  <hr/>
                  <h4 class="menu-price font-alt">₩15,000</h4>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </section>
    <div class="quickmenu">
      <ul style="margin: 0">
        <li><a href="selfOcean">바다</a></li>
        <li><a href="mQuestWriteForm">문의</a></li>
        <li><a href="index">메인페이지</a></li>
      </ul>
    </div>
    <footer data-th-include="./footer.html"></footer>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function(){
    var currentPosition = parseInt($(".quickmenu").css("top"));
    $(window).scroll(function() {
      var position = $(window).scrollTop();
      $(".quickmenu").stop().animate({"top":position+currentPosition+"px"},1000);
    });
  });
</script>
</body>
</html>