<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>Titan | Multipurpose HTML5 Template</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>

  <header data-th-include="./header.html"></header>



  <div class="main">
    <section class="module bg-dark-60 service-page-header" data-background="/images/스킨다이빙.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">스킨 다이빙이란</h2>
            <div class="module-subtitle font-serif">스킨다이빙은 수경, 스노클, 오리발을 사용하여 자신이 물 속에서 호흡을 참을 수 있는 시간만큼 잠수를 하며 즐기는 것을 말한다.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="module" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt"></h2>
            <div class="module-subtitle font-serif"></div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lightbulb"></span></div>
              <h3 class="features-title font-alt">개요</h3>
              <p>숨을 참을 수 있는 한계 내에서 수면과 수중 속을 왕복하며 즐기는 형태의 다이빙이다. 간단한 장비만을 이용하고 특별히 장소 에 제한을 받지 않아 스쿠버 다이빙보다는 활동반경이 넓은 편이다. </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-clipboard"></span></div>
              <h3 class="features-title font-alt">특성</h3>
              <p>1920∼1930년대 지중해와 미국에서 처음 대중화되었다. 스킨다이빙에서는 잠수기 없이 높은 수압에 견디면서 들이쉰 공기만으로 잠수하기 때문에 한정된 시간밖에 머무를 수가 없다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-heart"></span></div>
              <h3 class="features-title font-alt">건강</h3>
              <p>무중력 상태에서의 활동으로 평형감각과 유연성이 발달하고 전신운동이므로 균형 잡힌 몸매를 이루게 된다. 물 속의 깊이에 비례하여 우리 몸은 머리부터 발끝까지 수압을 받게 되므로 최고의 지압효과도 얻을 수 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-document"></span></div>
              <h3 class="features-title font-alt">역사</h3>
              <p>스노클링은 아리스토텔레스의 저서 동물의 부분에 언급된다. 그는 코끼리의 코를 이용해서 다이버들이 호흡을 할 수 있을것이라고 말했다. 기원전 5,000년 경에 크레타섬에서 해면 동물을 채집하기 위해서 스노클링이 시작됐다는 주장도 있다.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-genius"></span></div>
              <h3 class="features-title font-alt">용구</h3>
              <p>입수자의 스노클은 보통 길이 30 cm, 직경 1.5~2.5cm가 되는 L- 또는 J- 모양의 고무나 플라스틱으로 만들어진 마우스피스가 달린 호스를 말한다. 이 장비는 잠수자의 코와 입이 물속에 잠겼을 때, 물을 들여 마시지 않고, 쉽게 공기를 내뱉을 수 있는 장비이다.</p>
            </div>
          </div>

        </div>
      </div>


    </section>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">온몸으로 바다를 느끼면서</h3>
              <p>다양한 스킨 다이빙을 체험하고싶다면?</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="selfOcean">바다속으로 가기</a></div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-d">
    <footer data-th-include="./footer.html"></footer>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>