<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Titan | Multipurpose HTML5 Template</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


    <header data-th-include="./header.html"></header>

    <div class="main">
        <section class="module bg-dark-60 blog-page-header" data-background="/images/listBanner1.png">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">자유 게시판</h2>
                        <div class="module-subtitle font-serif">이곳에서는 회원들이 자유롭게 작성한 글들을 보실 수 있습니다.<br/>부적절하다고 판단된 게시글은 관리자에 의해 삭제될 수 있습니다.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div>
                    <h1 style="color:blue;"><a href="summerWrite"><i class="icon-edit"></i> 게시글 작성하기</a></h1>
                </div>
                <br/>
                <div class="row multi-columns-row post-columns">

                    <div class="col-sm-6 col-md-3 col-lg-3" th:each="list:${pagingList}" style="margin-bottom: 2%">
                        <div class="post">
                            <div class="post-thumbnail"><a th:href="@{view(codeNum=${list.codeNum})}"><img src="/images/미리보기방지.png" alt="Blog-post Thumbnail"/></a></div>

                            <div class="post-header font-alt">
                                <h2 class="post-title"><a th:href="@{view(codeNum=${list.codeNum})}">[[${list.codeTitle}]]</a></h2>
                                <div class="post-meta">작성자&nbsp;<a href="#">[[${list.memId}]]</a>&nbsp;|&nbsp;<span th:text="${#temporals.format(list.codeDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                    <div><span>글 번호 : </span>[[${list.codeNum}]]</div>
                                    <div><span>조회수 : </span>[[${list.codeHit}]]</div>
                                </div>
                            </div>

                            <div class="post-more"><a class="more-link" th:href="@{view(codeNum=${list.codeNum})}">Read more</a></div>
                        </div>
                    </div>


                </div>
                <div class="pagination font-alt" style="margin-left: 45%">
                    <a th:if = "${paging.page > 1}" th:href="@{list(page=${paging.page - 1}, keyword=${paging.keyword})}">이전</a>
                    <a th:if = "${paging.page <= 1}">이전</a>
                    <th:block th:each="i:${#numbers.sequence(paging.startPage,paging.maxPage)}">
                        <a class="active" th:href="@{list(page=${i}, keyword=${paging.keyword})}" th:text="${i}"></a>
                    </th:block>
                    <a th:if = "${paging.page < paging.maxPage}" th:href="@{list(page=${paging.page + 1}, keyword=${paging.keyword})}">다음</a>
                    <a th:if = "${paging.page >= paging.maxPage}">다음</a>
                </div>
            </div>
        </section>


        <footer data-th-include="./footer.html"></footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>