<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  Document Title
  =============================================
  -->
  <title>For Diver | 범섬</title>
  <!--
  Favicons
  =============================================
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--
  Stylesheets
  =============================================

  -->
  <!--  <link href="https://d2p1cf6997m1ir.cloudfront.net/static/travel_dist/css/main.1674034280404.css" rel="stylesheet">-->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist//owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>


  <header data-th-include="./header.html"></header>

  <div class="main">
    <section class="module-small">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="post">
              <div class="post-images-slider">
                <ul class="slides">
                  <li><img src="/images/oce/Tiger%20Island.jpg" alt="Blog Slider Image"/></li>
                  <li><img src="/images/oce/범섬2.jpg" alt="Blog Slider Image"/></li>
                  <li><img src="/images/oce/범섬3.jpg" alt="Blog Slider Image"/></li>
                </ul>
              </div>
              <div class="post-header font-alt">
                <h1 class="post-title">범섬</h1>
                <div class="post-meta"><a href="selfOcean">Ocean</a> | Tiger Island
                </div>
              </div>
              <div class="post-entry">
                <p>제주도 서귀포에는 3개의 섬이 있으며 그 중 하나가 범섬입니다. 범섬은 메인 섬과 작은 섬으로 구성되어 있으며 어느 곳에서나 다이빙이 가능합니다. </p>
                <blockquote>
                  <p>보통 보트 다이빙으로 이루어지며 섬의 전면은 수심 약 15m로 초보자에게 적합합니다.</p>
                </blockquote>
                <p>작은 섬 쪽으로 가면 수심이 깊어져 최대 40m까지 잠수할 수 있습니다.</p>
                <div class="dive-site-overview__content-metric">
                  <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/위치.PNG">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <span class="dive-site-overview__content-metric__title">주소</span>
                      <span class="dive-site-overview__content-metric__subtitle">제주특별자치도 서귀포시 법환동 산1-1</span>
                    </div>
                  </div>
                  <div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/장비.PNG">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <div class="dive-site-overview__content-metric__title">추천된 장비</div>
                      <span class="dive-site-overview__content-metric__subtitle">장갑, </span>
                      <span class="dive-site-overview__content-metric__subtitle">후드, </span>
                      <span class="dive-site-overview__content-metric__subtitle">웨트 슈트, </span>
                      <span class="dive-site-overview__content-metric__subtitle">수면 마커 부이, </span>
                      <span class="dive-site-overview__content-metric__subtitle">카메라, </span>
                      <span class="dive-site-overview__content-metric__subtitle">다이브 컴퓨터, </span>
                      <span class="dive-site-overview__content-metric__subtitle">다이빙 나이프</span>
                    </div>
                  </div>
                  <div class="dive-site-overview__content-metric__desktop">
                    <div class="dive-site-overview__content-metric__item">
                      <div class="dive-site-overview__content-metric__icon">
                       <img src="/img/입수.PNG">
                      </div>
                      <div class="dive-site-overview__content-metric__description">
                        <div class="dive-site-overview__content-metric__title">입수 방법</div>
                        <span class="dive-site-overview__content-metric__subtitle">보트</span>
                      </div>
                    </div>
                    <div class="dive-site-overview__content-metric__item">
                      <div class="dive-site-overview__content-metric__icon">
                        <img src="/img/수중생물.PNG">
                      </div>
                      <div class="dive-site-overview__content-metric__description">
                        <span class="dive-site-overview__content-metric__title">볼 수 있는 수중 생물체들</span>
                        <span class="dive-site-overview__content-metric__subtitle">웅장하고 풍부한 연산호들, 씬벵이, 전복, 다양한 누디브랜치 (갯민숭달팽이) 들과 거대한 해초들</span>
                      </div>
                    </div>
                    <div class="dive-site-overview__content-metric__item">
                      <div class="dive-site-overview__content-metric__icon">
                        <img src="/img/물유형.PNG">
                      </div>
                      <div class="dive-site-overview__content-metric__description">
                        <div class="dive-site-overview__content-metric__title">물의 유형</div>
                        <span class="dive-site-overview__content-metric__subtitle">바닷물</span>
                      </div></div><div class="dive-site-overview__content-metric__item">
                    <div class="dive-site-overview__content-metric__icon">
                      <img src="/img/수심.PNG">
                    </div>
                    <div class="dive-site-overview__content-metric__description">
                      <span class="dive-site-overview__content-metric__title">최대 수심</span>
                      <span class="dive-site-overview__content-metric__subtitle">
                                            131 피트 / 40 미터
                      </span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-form">
              <h4 class="comment-form-title font-alt">예약</h4>
              <form class="reservation-form"  action="Reservation" method="post" name="ResrvationTest">
                <input name="BuyKind" type="hidden" value="바다">
                <input name="BuyObjectName" type="hidden" value="범섬">
                <input name="memId" type="hidden" th:value="${session.loginId}">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon-calendar"></i></div>
                    <input class="form-control input-lg" id="date" type="date" name="reDate" onclick="dateClick()" onchange="dateChange()" placeholder="dd/mm/yyyy" required/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon-profile-male"></i></div>
                    <input class="form-control input-lg" id="people" type="number" name="rePeople" min="1" max="10" step="1" onchange="onch()" placeholder="총 이용 인원" required/>
                    <input type="hidden" id="money" value="100000">
                    <input type="hidden" id="surcharge" value="0">
                    <p>금액 : <span id="pay">0</span>원</p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-g btn-round btn-block btn-lg mt-20" th:if="${session.loginId ne null}"><i class="fa fa-paper-plane-o"></i> 예약하기</button>
                  <button class="btn btn-g btn-round btn-block btn-lg mt-20" id="popup_open_btn" type="button" th:if="${session.loginId eq null}"><i class="fa fa-paper-plane-o"></i> 로그인이 필요합니다</button>
                </div>
                <div id="my_modal">
                  <iframe src="Loginmodel" id="chat_iframe"></iframe>
                  <a class="modal_close_btn">X</a>
                </div>
                <div id="reservationFormResponse"></div>
              </form>
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
            <div class="widget">
              <h5 class="widget-title font-alt">다이빙 포인트 위치</h5>
              <div id="map" style="width:100%;height:500px;"></div>
            </div>
            <div class="widget">
              <h5 class="widget-title font-alt">다른 다이빙 포인트들</h5>
              <ul class="widget-posts">
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="Seopseom_Island_Small_Window"><img src="/images/oce/섶섬%20작은한개창.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="Seopseom_Island_Small_Window">섶섬 작은한개창</a></div>
                    <div class="widget-posts-meta">제주도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="Seopseom_Island"><img src="/images/oce/섶섬.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="Seopseom_Island">섶섬</a></div>
                    <div class="widget-posts-meta">제주도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="Munseom"><img src="/images/oce/문섬.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="Munseom">문섬</a></div>
                    <div class="widget-posts-meta">제주도</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="Bear_rock"><img src="/images/oce/숲섬.jpg" alt=""/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="Bear_rock">곰바위</a></div>
                    <div class="widget-posts-meta">울릉도</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer data-th-include="./footer.html"></footer>
  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/smoothscroll.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c5217e41a6eff6f4ab9a3e0a2f34a06e"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
            center: new kakao.maps.LatLng(33.21866, 126.51662), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
          };

  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

  // 마커를 생성합니다
  var positions = [
    {
      title: 'TIGER ISLAND',
      latlng: new kakao.maps.LatLng(33.21866, 126.51662)
    }
  ];

  // 마커 이미지의 이미지 주소입니다
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

  for (var i = 0; i < positions.length; i ++) {

    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35);

    // 마커 이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng, // 마커를 표시할 위치
      title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
      image : markerImage // 마커 이미지
    });
  }
  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);

  // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
  // marker.setMap(null);
</script>
</body>
</html>