<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.project.dao.CrisisDAO">

    <insert id="getPoint" parameterType="point">
        INSERT INTO POINTT VALUES (POINTTS.NEXTVAL, #{memId}, #{usablePoint})
    </insert>

    <select id="checkPoint" parameterType="String" resultType="point">
        SELECT * FROM POINTT WHERE MEMID = #{memId}
    </select>
</mapper>